@media (min-width: 768px){
    .navbar{
        font-size: 20px;
        padding: 5px;
        color: grey;
        border-bottom: 5px solid  rgb(245, 138, 7);
        display: inline-block;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 2;
    
    }
    h1{
        width: fit-content;
       margin: auto;
    }
    .links{
        width: fit-content;
        margin:  auto;
    }
    
    .link{
        margin-right: 2rem;
        font-size: 20px;
        color: rgb(255, 255, 255);
        text-decoration: none;
    }
    
    .link:hover{
        opacity: 0.8;
        color: rgb(185, 182, 182);
    }

}

@media (max-width: 768px){
    .navbar{
        font-size: 20px;
        padding: 5px;
        color: grey;
        border-bottom: 5px solid var(--highlight-color);
        display: inline-block;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 2;
    
    }
    h1{
        width: fit-content;
       margin: auto;
    }
    .links{
        width: fit-content;
        margin:  auto;
    }
    
    .link{
        margin-right: 2rem;
        font-size: 20px;
        color: rgb(255, 255, 255);
        text-decoration: none;
    }
    
    .link:hover{
        opacity: 0.8;
        color: rgb(185, 182, 182);
    }

}