@media (min-width: 768px){

.profilCard{
    width: 30rem;
    height: fit-content;
}

.profilPicture{
    border-radius: 100%;
    width:15rem;
    height:15rem;
    margin:auto;
    padding: 1rem;
    object-fit: none;
}

.userName{
    width: fit-content;
    margin: auto;
    margin-bottom: 1em; 
    display: flex;
    flex-direction: column;
}

.userName span{
    margin: auto;
}

.profilContainer{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
    padding: 1rem;
    margin-top: 4rem;
   
}

.preferenceSpan{
    margin-bottom: 2rem;
    font-size: 1.1rem;;
}

.close{
    font-size: .6rem;
}

.bgAccordion{
    background-color: rgba(226, 226, 226, 0.438);
}
.buttons{
    margin: auto;
    width: fit-content;
}

}

@media(max-width:768px){
    
.profilCard{
    width: 30rem;
    height: fit-content;
}

.profilPicture{
    border-radius: 100%;
    width:15rem;
    height:15rem;
    margin:auto;
    padding: 1rem;
    object-fit: none;
    
}

.userName{
    width: fit-content;
    margin: auto;
    margin-bottom: 1em; 
    display: flex;
    flex-direction: column;
}

.userName span{
    margin: auto;
}

.profilContainer{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
    padding: 1rem;
    margin-top: 4rem;
   
}

.preferenceSpan{
    margin-bottom: 2rem;
    font-size: 1.1rem;;
}

.close{
    font-size: .6rem;
}

.bgAccordion{
    background-color: rgba(226, 226, 226, 0.438);
}
}