@media (min-width: 768px){
    body{
        margin-top: 2rem;
        margin-bottom: 3rem;
        height:fit-content;
    }

.profilCard{
    width: 30rem;
    height: fit-content;
    background-color: var(--card-color);
    color: white;
}

.contactCard{
    background-color: var(--card-color);
    color: grey;
}

.profilPicture{
    border-radius: 100%;
    width:15rem;
    height:15rem;
    margin:auto;
    padding: 1rem;
    object-fit: none;
}

.userName{
    width: fit-content;
    margin: auto;
    margin-bottom: 1em; 
    display: flex;
    flex-direction: column;
}

.userName span{
    margin: auto;
}

.profilContainer{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
    padding: 1rem;
   
}

.preferenceSpan{
    margin-bottom: 2rem;
    font-size: 1.1rem;;
}

.close{
    font-size: .6rem;
}

.accordion-button{
    background-color: var(--highlight-color);
    color: white;
    font-family: var(--bs-font-sans-serif);
    font-weight: 500;
    box-shadow: 0 0 0 0.1rem var(--card-borders);
}

.accordion-button:not(.collapsed) {
    color: white;
    background-color: var(--highlight-color);
    box-shadow: 0 0 0 0.1rem var(--card-borders);
  }

.accordion-button:focus {
    box-shadow: 0 0 0 0.1rem var(--card-borders);
  }

  .accordion-button:hover{
    opacity: 0.9;
  }

.accordion{
     background-color: var(--card-color);

}

.accordion-body{
    background-color: var(--bg-color);
    box-shadow: 0 0 0 0.1rem var(--card-borders);
}

.accordion-collapse{
    box-shadow: 0 0 0 0.1rem var(--card-borders);
}

.accordion-collapse[collapsing]{
    box-shadow: 0 0 0 0.1rem var(--card-borders);
}

.accrodion-item{
    --bs-accordion-border-color: var(--card-borders);
}

.bgAccordion{
    background-color: var(--bg-color);
}
.buttons{
    margin: auto;
    width: fit-content;
}

.nav-tabs .nav-link {
  background-color: transparent !important;
  color: #FFFFFF !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}

.nav-tabs .nav-link.active {
  border-bottom: solid 4px white !important;
}
    
}

@media(max-width:768px){
    
.profilCard{
    width: 30rem;
    height: fit-content;
    background-color: var(--card-color);
    color: white;
}

.profilPicture{
    border-radius: 100%;
    width:15rem;
    height:15rem;
    margin:auto;
    padding: 1rem;
    object-fit: none;
    
}

.userName{
    width: fit-content;
    margin: auto;
    margin-bottom: 1em; 
    display: flex;
    flex-direction: column;
}

.userName span{
    margin: auto;
}

.profilContainer{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
    padding: 1rem;
    margin-top: 4rem;
   
}

.preferenceSpan{
    margin-bottom: 2rem;
    font-size: 1.1rem;;
}

.close{
    font-size: .6rem;
}

.bgAccordion{
    background-color: var(--bg-color);
}
.accordion-button{
    background-color: var(--highlight-color);
    color: white;
    font-family: var(--bs-font-sans-serif);
    font-weight: 500;
    box-shadow: 0 0 0 0.1rem var(--card-borders);
}

.accordion-button:not(.collapsed) {
    color: white;
    background-color: var(--highlight-color);
    box-shadow: 0 0 0 0.1rem var(--card-borders);
  }

.accordion-button:focus {
    box-shadow: 0 0 0 0.1rem var(--card-borders);
  }

  .accordion-button:hover{
    opacity: 0.9;
  }

.accordion{
     background-color: var(--card-color);

}

.accordion-body{
    background-color: var(--bg-color);
    box-shadow: 0 0 0 0.1rem var(--card-borders);
}

.accordion-collapse{
    box-shadow: 0 0 0 0.1rem var(--card-borders);
}

.accordion-collapse[collapsing]{
    box-shadow: 0 0 0 0.1rem var(--card-borders);
}

.accrodion-item{
    --bs-accordion-border-color: var(--card-borders);
}

.contactCard{
    background-color: var(--card-color);
    color: grey;
}
}